em{
    font-style: italic;
    font-weight: bold;
}
.name{
    text-align: center;
    padding-bottom: 5px;
}
span{
    font-size: 20px;
    text-decoration-line: underline;
}
.form-group{
    width: 60%;
    margin-left: 20%;
}
.card{
    padding-left: 5%;
    padding-right: 5%;
}